@charset "UTF-8";

/*Configurações gerais*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    background-repeat: no-repeat;
    background-size: contain; /*para caber a imagem toda no fundo da tela*/
}

h1 {
    color: white;
    text-shadow: 3px 3px 0px #12208b;
    padding: 10px;
}